#box {
    display: flex;
    flex-direction: column;
    background-color: red;
    width: 1000px;
    height: 1000px;
}

#box_1 {
    flex-basis: 10%;
    background-color: orange;
    height: 100px;
}

#box_2 {
    flex-basis: 10%;
    background-color: yellow;
    height: 100px;
}

#box_3 {
    flex-basis: 10%;
    background-color: green;
    height: 100px;
}

#box_4 {
    flex-basis: 10%;
    background-color: blue;
    height: 100px;
}

#box_5 {
    flex-basis: 10%;
    background-color: purple;
    height: 100px;
}