@charset "UTF-8";
/* 전체 페이지 스타일 */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('backgroundtarkov.jpg') center center fixed;
    background-size: cover; /* 추가 */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#wrapper {
    width: 60%;
    background-color: #34495e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-size: cover; /* 추가 */
}

#wrapper_top {
    background-color: #3498db;
    color: #fff;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#wrapper_top h1 {
    margin: 0;
    font-size: 24px;
}

/* 회원가입 폼 스타일 */
#joinlist {
    margin-top: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #3498db;
    border-radius: 5px;
    font-size: 16px;
    background-color: #ecf0f1;
    color: #34495e;
}

input[type="submit"] {
    background-color: #e74c3c;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #c0392b;
}